---
  import Layout from '../../layouts/Layout.astro'
  import { getCollection } from 'astro:content';

  const collection = (await getCollection('blog')).filter((e) => !e.data.title.startsWith("DRAFT")).sort((a, b) => {
	  const d1 = a.data.date;
	  const d2 = b.data.date;
	  if (d1 < d2) return 1;
	  else if (d1 > d2) return -1;
	  else return 0;
  });
---

<Layout>
  <section class="p-2 flex flex-1 flex-col justify-start items-center mx-auto gap-5">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-pink-500 to-purple-600 p-4 w-screen rounded-md max-w-screen-md" >Blog</h1>
    <div class="flex flex-col gap-5 flex-1 w-full">
		  {collection.map((e) => (
      <div class="w-full bg-neutral-800 rounded-md p-4">
        <a href={`/blog/${e.slug}`} class="flex flex-col hover:no-underline">
				  <h2 class="text-h4">{e.data.title}</h2>
          
				  <p>{e.data.description}</p>
          
				  <time datetime={e.data.date.toISOString()} class="text-caption mt-1 text-neutral-400">
					  {`${Intl.DateTimeFormat(undefined, { dateStyle: "long" }).format(e.data.date)}`}
				  </time>
			  </a>
		  </div>
		  ))}
		</div>
  </section>
</Layout>
