---
  import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <section class="p-2 flex flex-1 flex-col justify-start items-center mx-auto shadow-md">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-pink-500 to-purple-600 p-4 w-screen rounded-md max-w-screen-md" >Blog</h1>
  </section>
</Layout>
