---
  import Layout from '../layouts/Layout.astro';
  import ContactInfo from "../components/ContactInfo.astro";
---

<style>
</style>

<Layout>
  <section class="p-2 flex flex-col flex-1 justify-center">
    <ContactInfo />
  </section>
</Layout>
