---
  import Layout from '../layouts/Layout.astro';
  import ContactInfo from "../components/ContactInfo.astro";
---

<style>
</style>

<Layout>
  <section class="flex flex-1 p-8 bg items-center justify-center">
    <ContactInfo />
  </section>
</Layout>
