---

---

<section class="max-w-md mx-auto bg-neutral-800 text-white rounded-md overflow-hidden shadow-md mb-7">
  <div class="p-6">
    <p class="text-base">
      I'm a hobbyist system administrator, freelancer, and programmer.
      Currently a freshman studying Cyber Security.
    </p>
    <p class="text-base mt-3">
      I specialize in designing, building and maintaining systems.
      My favorite programming language is Swift, and I enjoy working with SwiftUI and Vapor.
    </p>
    <p class="text-base mt-3">I also play the piano, guitar and drums.</p>
  </div>
</section>
