---

---

<section class="max-w-md mx-auto bg-gray-800 text-white rounded-md overflow-hidden shadow-md mb-7">
  <div class="p-6">
    <h2 class="text-2xl font-bold mb-3">About Me</h2>
    <p class="text-base">
      I'm a hobbyist system administrator, freelancer, and programmer.
      Currently a freshman studying Cyber Security.
    </p>
    <p class="text-base mt-3">
      My favorite programming language is Swift, and I enjoy working with SwiftUI and Vapor.
      I specialize in designing and building systems, and I have a keen interest in GraphQL.
    </p>
    <p class="text-base mt-3">I also play the piano and make note block music.</p>
  </div>
</section>
