---
  import { Icon } from 'astro-icon/components'
  
  interface Contact {
    name: string
    url: string
    icon: string
    color: string
    monospace?: boolean
  }

  const { contact } = Astro.props;
---

<style>
</style>

<div class="flex items-center">
  <a href={contact.url} class={`flex items-center ${contact.color}`} target="_blank">
    <span class="mr-4"><Icon width={40} height={40} name={contact.icon}/></span>
    {contact.name}
  </a>
</div>
