---
import { Icon } from 'astro-icon/components'
---

<section class="max-w-md mx-auto rounded-md overflow-hidden shadow-md bg-gray-800 text-white">
    <div class="px-6 py-4">
        <ul class="list-disc">
            <li class="flex items-center mb-3">
                <a href="https://github.com/BoogieMonster1O1" target="_blank" class="flex items-center text-blue-300 hover:underline">
                    <span class="mr-4"><Icon width={40} height={40} name="devicon:github"/></span>
                    GitHub
                </a>
            </li>
            <li class="flex items-center mb-3">
                <a href="https://www.instagram.com/shrishdeshpande" target="_blank" class="flex items-center text-pink-300 hover:underline">
                    <span class="mr-4"><Icon width={40} height={40} name="skill-icons:instagram"/></span>
                    Instagram
                </a>
            </li>
            <li class="flex items-center mb-3">
                <a href="https://www.linkedin.com/in/shrish-deshpande-6287561a9" target="_blank" class="flex items-center text-indigo-300 hover:underline">
                    <span class="mr-4"><Icon width={40} height={40} name="devicon:linkedin"/></span>
                    LinkedIn
                </a>
            </li>
            <li class="flex items-center mb-3">
                <a href="http://tech.lgbt/@shrish" target="_blank" class="flex items-center text-green-300 hover:underline">
                    <span class="mr-4"><Icon width={40} height={40} name="skill-icons:fediverse-dark"/></span>
                    Fediverse
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://open.spotify.com/artist/6N5AY2sIadexnDQLso0NFU" target="_blank" class="flex items-center text-purple-300 hover:underline">
                    <span class="mr-4"><Icon width={40} height={40} name="logos:spotify-icon"/></span>
                    Spotify Artist
                </a>
            </li>
        </ul>
    </div>
</section>
