---
import GithubIcon40 from "./icons/contact/GithubIcon40.astro";
import InstagramIcon40 from "./icons/contact/InstagramIcon40.astro";
import FediverseIcon40 from "./icons/contact/FediverseIcon40.astro";
import CurseforgeIcon40 from "./icons/contact/CurseforgeIcon40.astro";
import DiscordIcon40 from "./icons/contact/DiscordIcon40.astro";
import FuelerIcon40 from "./icons/contact/FuelerIcon40.astro";
import HashnodeIcon40 from "./icons/contact/HashnodeIcon40.astro";
import RedditIcon40 from "./icons/contact/RedditIcon40.astro";
import SpotifyIcon40 from "./icons/contact/SpotifyIcon40.astro";
import WikipediaIcon40 from "./icons/contact/WikipediaIcon40.astro";
import DevToIcon24 from "./icons/DevToIcon24.astro";
import LinkedInIcon40 from "./icons/contact/LinkedInIcon40.astro";
import DevtoIcon40 from "./icons/contact/DevtoIcon40.astro";
---

<section
  class="flex flex-col gap-2 bg-neutral-800 mx-auto rounded-md overflow-hidden text-white justify-center"
>
  <h1
    class="text-3xl font-bold bg-gradient-to-r from-pink-500 to-purple-600 p-4 rounded-t-md"
  >
    Connect
  </h1>
  <div class="px-6 py-4 rounded-md">
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-4">

      <div class="flex items-center">
        <a
          href="https://github.com/BoogieMonster1O1"
          class="flex items-center text-white"
          target="_blank"
        >
          <span class="mr-4">
            <GithubIcon40 />
          </span>
          GitHub
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://www.instagram.com/shrishdeshpande"
          class="flex items-center text-pink-300"
          target="_blank"
        >
          <span class="mr-4">
            <InstagramIcon40 />
          </span>
          Instagram
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://www.linkedin.com/in/shrishdeshpande/"
          class="flex items-center text-indigo-300"
          target="_blank"
        >
          <span class="mr-4">
            <LinkedInIcon40 />
          </span>
          LinkedIn
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="http://tech.lgbt/@shrish"
          class="flex items-center text-green-300"
          target="_blank"
        >
          <span class="mr-4">
            <FediverseIcon40 />
          </span>
          Fediverse
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://open.spotify.com/artist/6N5AY2sIadexnDQLso0NFU"
          class="flex items-center text-purple-300"
          target="_blank"
        >
          <span class="mr-4">
            <SpotifyIcon40 />
          </span>
          Spotify Artist
        </a>
      </div>

      <div class="flex items-center">
        <a
          href=""
          class="flex items-center text-neutral-300 text-xs"
          target="_blank"
        >
          <span class="mr-4">
            <DiscordIcon40 />
          </span>
          <span class="font-mono">BoogieMonster1O1</span>
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://en.wikipedia.org/wiki/User:BoogieMonster1O1"
          class="flex items-center text-gray-300"
          target="_blank"
        >
          <span class="mr-4">
            <WikipediaIcon40 />
          </span>
          Wikipedia
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://dev.to/boogiemonster1o1"
          class="flex items-center text-neutral-300"
          target="_blank"
        >
          <span class="mr-4">
            <DevtoIcon40 />
          </span>
          Dev
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://hashnode.com/@boogiemonster1o1"
          class="flex items-center text-sky-400"
          target="_blank"
        >
          <span class="mr-4">
            <HashnodeIcon40 />
          </span>
          Hashnode
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://fueler.io/shrishvd/"
          class="flex items-center text-cyan-300"
          target="_blank"
        >
          <span class="mr-4">
            <FuelerIcon40 />
          </span>
          Fueler
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://www.reddit.com/user/BoogieMonster1O1/"
          class="flex items-center text-orange-300"
          target="_blank"
        >
          <span class="mr-4">
            <RedditIcon40 />
          </span>
          Reddit
        </a>
      </div>

      <div class="flex items-center">
        <a
          href="https://www.curseforge.com/members/boogiemonster1o1"
          class="flex items-center text-gray-300"
          target="_blank"
        >
          <span class="mr-4">
            <CurseforgeIcon40 />
          </span>
          Curseforge
        </a>
      </div>

    </div>
  </div>
</section>
