---
  import { Icon } from 'astro-icon/components'
  import ContactCard from './ContactCard.astro'

  interface Contact {
    name: string
    url: string
    icon: string
    color: string
    monospace?: boolean
  }

  const contacts: Contact[] = [
    {
      name: 'GitHub',
      url: 'https://github.com/BoogieMonster1O1',
      icon: 'mdi:github',
      color: 'text-white',
    },
    {
      name: 'Instagram',
      url: 'https://www.instagram.com/shrishdeshpande',
      icon: 'skill-icons:instagram',
      color: 'text-pink-300',
    },
    {
      name: 'LinkedIn',
      url: 'https://www.linkedin.com/in/shrishdeshpande/',
      icon: 'devicon:linkedin',
      color: 'text-indigo-300',
    },
    {
      name: 'Fediverse',
      url: 'http://tech.lgbt/@shrish',
      icon: 'skill-icons:fediverse-dark',
      color: 'text-green-300',
    },
    {
      name: 'Spotify Artist',
      url: 'https://open.spotify.com/artist/6N5AY2sIadexnDQLso0NFU',
      icon: 'logos:spotify-icon',
      color: 'text-purple-300',
    },
    {
      name: 'BoogieMonster1O1',
      url: '',
      icon: 'skill-icons:discord',
      color: 'text-neutral-300',
      monospace: true,
    },
    {
      name: 'Wikipedia',
      url: 'https://en.wikipedia.org/wiki/User:BoogieMonster1O1',
      icon: 'simple-icons:wikipedia',
      color: 'text-gray-300',
    },
    {
      name: 'Dev',
      url: 'https://dev.to/boogiemonster1o1',
      icon: 'skill-icons:devto-light',
      color: 'text-neutral-300',
    },
    {
      name: 'Hashnode',
      url: 'https://hashnode.com/@boogiemonster1o1',
      icon: 'logos:hashnode-icon',
      color: 'text-sky-400',
    },
    {
      name: 'Fueler',
      url: 'https://fueler.io/shrishvd/',
      icon: 'simple-icons:fueler',
      color: 'text-cyan-300',
    },
    {
      name: 'Reddit',
      url: 'https://www.reddit.com/user/BoogieMonster1O1/',
      icon: 'logos:reddit-icon',
      color: 'text-orange-300',
    },
    {
      name: 'Curseforge',
      url: 'https://www.curseforge.com/members/boogiemonster1o1',
      icon: 'simple-icons:curseforge',
      color: 'text-gray-300',
    },
  ]
---

<section class="flex flex-col mx-auto rounded-md overflow-hidden text-white justify-center">
  <h1 class="text-3xl font-bold bg-gradient-to-r from-pink-500 to-purple-600 p-4 rounded-t-md">Contact</h1>
  <div class="px-6 py-4 bg-neutral-800 rounded-md">
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-4">
      {contacts.map((data) => <ContactCard contact={data} />)}
    </div>
  </div>
</section>
