---
  import { Icon } from 'astro-icon/components'
---

<section class="max-w-md mx-auto rounded-md overflow-hidden shadow-md bg-neutral-800 text-white">
  <h1 class="text-3xl font-bold bg-gradient-to-r from-pink-500 to-purple-600 p-4">Contact</h1>
  <div class="px-6 py-4 bg-[#191919]">
    <ul class="sm:grid sm:grid-cols-2 list-disc">
      <li class="flex items-center mb-3">
        <a href="https://github.com/BoogieMonster1O1" target="_blank" class="flex items-center text-blue-300 hover:underline">
          <span class="mr-4"><Icon width={40} height={40} name="devicon:github"/></span>
          GitHub
        </a>
      </li>
      <li class="flex items-center mb-3">
        <a href="https://www.instagram.com/shrishdeshpande" target="_blank" class="flex items-center text-pink-300 hover:underline">
          <span class="mr-4"><Icon width={40} height={40} name="skill-icons:instagram"/></span>
          Instagram
        </a>
      </li>
      <li class="flex items-center mb-3">
        <a href="https://www.linkedin.com/in/shrish-deshpande-6287561a9" target="_blank" class="flex items-center text-indigo-300 hover:underline">
          <span class="mr-4"><Icon width={40} height={40} name="devicon:linkedin"/></span>
          LinkedIn
        </a>
      </li>
      <li class="flex items-center mb-3">
        <a href="http://tech.lgbt/@shrish" target="_blank" class="flex items-center text-green-300 hover:underline">
          <span class="mr-4"><Icon width={40} height={40} name="skill-icons:fediverse-dark"/></span>
          Fediverse
        </a>
      </li>
      <li class="flex items-center mb-3">
        <a href="https://open.spotify.com/artist/6N5AY2sIadexnDQLso0NFU" target="_blank" class="flex items-center text-purple-300 hover:underline">
          <span class="mr-4"><Icon width={40} height={40} name="logos:spotify-icon"/></span>
          Spotify Artist
        </a>
      </li>
      <li class="flex items-center font-mono">
        <span class="mr-4" aria-description="Discord"><Icon width={40} height={40} name="skill-icons:discord"/></span>
        <span class="bg-neutral-900 rounded p-0.5">BoogieMonster1O1</span>
      </li>
    </ul>
  </div>
</section>
