---

  import {Icon} from "astro-icon/components";---

<div class="flex flex-row text-neutral-600 w-screen">
  <a href="https://github.com/BoogieMonster1O1" target="_blank" class="flex items-center hover:underline">
    <span class="mr-4"><Icon width={20} height={20} name="devicon:github"/></span>
    GitHub
  </a>
</div>
