---
  import Layout from '../../layouts/Layout.astro'
  import ProjectCard from '../../components/ProjectCard.astro'
  
  import { projects } from '../../data/projects.ts'
---

<Layout>
  <section class="flex flex-1 flex-col justify-start items-center mx-auto shadow-md rounded-md bg-[#191919]">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-pink-500 to-purple-600 w-full p-4 rounded-t-md" >Projects</h1>

    <div class="grid lg:grid-cols-2 grid-cols-1">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</Layout>
