---
  import Footer from "../components/Footer.astro";
  import '../styles/colors.css';
  import '../styles/global.css';
  import Navbar from "../components/Navbar.svelte";

  let pathName = Astro.url.pathname;

  let isAbout = pathName == '/';
  let isProjects = pathName.startsWith('/projects');
  let isConnect = pathName == '/connect';
  let isBlog = pathName.startsWith('/blog');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website" />
    <meta name="keywords" content="shrish, deshpande">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://shrishdeshpande.com">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="author" content="Shrish Deshpande">

    <meta property="og:title" content="Shrish Deshpande">
    <meta property="og:description" content="My personal website">
    <meta property="og:image" content="https://shrishdeshpande.com/pfp.png">
    <meta property="og:url" content="https://shrishdeshpande.com">
    
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Shrish Deshpande</title>
  </head>

  <body class="bg-neutral-900 text-white">
    <div class="flex flex-col min-h-screen items-center">
      <div class="flex sm:flex-row max-sm:flex-col justify-between m-4 pb-2 border-b border-neutral-600 max-w-screen-md w-screen overflow-y-auto gap-6 max-sm:gap-2 items-center max-md:p-4">
        <h1 class="flex-1 text-2xl sm:text-3xl lg:text-4xl">
          Shrish Deshpande
        </h1>
        <div class="flex text-neutral-300 max-sm:gap-4 sm:contents text-lg max-sm:text-xl">
          <div class="flex">
            <a href="/">About</a>
          </div>
          <div class="flex">
            <a href="/projects">Projects</a>
          </div>
          <div class="flex">
            <a href="/connect">Connect</a>
          </div>
          <div class="flex">
            <a href="/blog">Blog</a>
          </div>
        </div>
      </div>

      <slot />

      <Footer />
    </div>
  </body>
</html>
