---
  import Footer from "../components/Footer.astro";
  import '../styles/colors.css';
  import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Shrish Deshpande</title>
  </head>

  <body class="bg-neutral-900 text-white">
    <div class="flex flex-col min-h-screen items-center">
      <div class="flex flex-row justify-between m-4 pb-2 border-b border-neutral-600 max-w-screen-md w-screen overflow-y-auto gap-6 items-center">
        <h1 class="flex-1 text-2xl sm:text-3xl md:text-4xl">
          Shrish Deshpande
        </h1>
        <div class="contents text-lg md:text-xl">
          <div class="flex">
            <a href="/">About</a>
          </div>
          <div class="flex">
            <a href="/projects">Projects</a>
          </div>
          <div class="flex">
            <a href="/contact">Contact</a>
          </div>
          <div class="flex">
            Blog
          </div>
        </div>
      </div>

      <slot />

      <Footer />
    </div>
  </body>
</html>
